<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pipePage" aria-expanded="false" > Pipe Ornekleri </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#directivePage" aria-expanded="false" > Directive Ornekleri </button>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="collapse" id="directivePage">
            <div class="card card-body">
              Directive Page
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="collapse" id="pipePage">
            <div class="card card-body">
                Pipe Sayfası
            </div>
          </div>
        </div>
      </div>
</div>
