<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pipePage" aria-expanded="false" > Pipe Ornekleri </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#directivePage" aria-expanded="false" > Directive Ornekleri </button>
        </div>
        
      </div>
      <div class="row">
        

        <div class="col-md-6">
          
          <div class="collapse" id="directivePage">
            <div class="card card-body">
              <p> Directive Olmadan Önce </p>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          
            <div class="collapse" id="directivePage">
              <div class="card card-body">
                <div appCustom>
                    <p  > Directive Olduktan sonra </p>
                </div>
                  
              </div>
            </div>
        </div>
          
        

        
          <div class="col-md-6">
          
            <div class="collapse" id="pipePage">
              <div class="card card-body">
                  <table class="table table-hover" >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Code</th>
                      </tr>
                    </thead>
                    <tbody >
                    
                      <tr *ngFor="let item of pipeArray"  >
                        <td> {{item.name}}  </td>
                        <td> {{item.code}}  </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            
              <div class="collapse" id="pipePage">
                <div class="card card-body">
                    <table class="table table-hover" >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Code</th>
                        </tr>
                      </thead>
                      <tbody >
                      
                        <tr *ngFor="let item of pipeArray"  >
                          <td class="text-success"  > {{item.name | uppercase }}  </td>
                          <td> {{item.code}}  </td>
                        </tr>
                       
                      </tbody>
                    </table>
                </div>
              </div>
          </div>
        
        
      </div>
</div>
